# Git-specific files
.git/**

# Visual Studio files
.vs/**
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/**

# Exclude cmake
!sdk/cmake/**
sdk/cmake/share/cmake-3.23/Templates/Windows/Thumbs.db
